<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs',{style:"home"}) %>

    <body>
            <%- include('./partials/nav-bar.ejs') %>

        <section class="first-piece">
            <video class="videoFirst-piece" autoplay loop muted>
                <source src="videos/videoSeccion1_op02.mp4" type="video/mp4">
            </video>
            <h1 class="title">BIENVENIDO</h1>

        </section>

        <section class="second-piece">

            <form>
                <select name="modelos" id="modelos">
                    <option value="">tipos de modelos</option>
                    <option value="">estructuras</option>
                    <option value="">personajes</option>
                    <option value="">naturaleza</option>
                    <option value="">accesorios</option>
                    <option value="">ciencia ficcion</option>
                </select>
                <select name="fecha de publicacion" id="publicacion">
                    <option value="">fecha de publicacion</option>
                    <option value="">ultimo dia</option>
                    <option value="">ultima semana</option>
                    <option value="">ultimo mes</option>
                    <option value="">ultimo año</option>
                    <option value="">en cualquier momento</option>
                </select>
                <input type="submit" value="Buscar" id="search">
            </form>
        </section>
        <main class="products">

            <% models.forEach(model => { %>
            
                <div class="product-content">
                    <div class="product-dat-sup">
                        <div class="user-public">
                            <i class="fa-solid fa-user"></i>
                            <h3>
                                usuario
                            </h3>
                        </div>
                        <div class="heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    
                    <a href="/products/detail/<%= model.id %>">
                        <img class="model" src="images/modelos/<%= model.imagen %>" alt="<%= model.name %>">
                    </a>
                    <div class="product-dat-inf">
                        <i class="fa-solid fa-cart-plus"></i>
                        <h3 class="camara-title">
                            <%= model.name %>
                        </h3>
                        <h3 class="camara-price">$<%= model.price %></h3>
                    </div>
                </div>

            <% }) %>

        </main>

        <section class="products-conteiner-carousel">

            <div class="product-carousel-perlaNegra">
                <a href="/">
                    <img src="images/seccion_dos/perlaNegra.jpg" alt="perla negra">
                </a>
            </div>
            <div class="product-carousel-trucoMagia">
                <img class="model" src="#" alt="truco de magia">
            </div>
            <div class="product-carousel-brazoRobotico">
                <img src="#" alt="brazo robotico">
            </div>
            <div class="product-carousel-guitarraAcustica">
                <img class="model" src="#" alt="guitarra acustica">
            </div>
            <div class="product-carousel-pikachu">
                <img src="#" alt="pikachu">
            </div>
            <div class="product-carousel-arcade">
                <img src="images/seccion_dos/arcade.jpg" alt="arcade">
            </div>
            <div class="product-carousel-lamparaDeAladin">
                <img src="#" alt="lampara de aladin">
            </div>
            <div class="product-carousel-saxofon">
                <img class="model" src="#" alt="saxofon">
            </div>

        </section>
        <section class="newsletter-container">
            <div class="image-grid">
                <div class="grid">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>
            </div>

            <div class="form-container">
                <h2>Sumate a nuestro Newsletter</h2>
                <form class="newsletter">
                    <input type="text" name="name" placeholder="nombre" required>
                    <input type="text" name="lastname" placeholder="apellido" required>
                    <input type="email" name="email" id="email" placeholder="correo">
                    <button type="submit">ENVIAR</button>
                </form>
            </div>
        </section>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>